<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Test</title>
</head>

<body>
    <h1>Node.js Test</h1>
    <div>
        <form action="/cookie" method="post">
            <input type="text" name="text" placeholder="입력">
            <P><input type="submit" , value="입력"></P>
        </form>
        <div>
</body>

</html>